<app-header slug="programacion"></app-header>


<!-- Spinner -->

<div *ngIf="!items" class="container mt-5 p-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <div class="spinner-grow text-info" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>



<!-- Content -->


<div class="bg-light">
    <div class="container">

        <div class="row bg-white p-4 pt-5" *ngFor="let item of items">
            <div class="col-lg-6">
                <img (click)="goProyecto(item._id)" class="imageproyecto img-fluid mx-auto d-block rounded mb-4" [src]="programacionUrl + item.img" alt="">
            </div>

            <div class="col-lg-6">
                <h2>{{ item.title }}</h2>
                <p>{{ item.body | slice:0:230 }}...</p>

                <button class="btn btn-outline-primary mb-2" (click)="goProyecto(item._id)">VER PROYECTO</button>
            </div>

        </div>
    </div>
</div>