<!-- Masthead -->
<header *ngIf="headerData" class="masthead animated fadeIn fast" [ngStyle]="{'padding-top': '12rem',
    'padding-bottom': 'calc(10rem - 72px)',
    'background': bg,
    'background-position': 'center',
    'background-repeat': 'no-repeat',
    'background-attachment': 'scroll',
    'background-size': 'cover'}">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">{{ headerData.mainText }}</h1>
                <hr class="divider my-4">
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-4">{{ headerData.secondaryText}}</p>

                <div *ngIf="headerData.slug === 'home'">
                  <!--  <a class="btn btn-primary btn-xl js-scroll-trigger m-2" [routerLink]="['/audiovisuales']">Audiovisuales</a>
                    <a class="btn btn-primary btn-xl js-scroll-trigger m-2" [routerLink]="['/programacion']">Programación</a> -->
                  <a class="btn btn-primary btn-xl js-scroll-trigger m-2" [routerLink]="['/contacto']">Trabajemos juntos</a>
                </div>


                <div *ngIf="headerData.slug === 'proyecto'">
                    <a class="btn btn-primary btn-xl m-2" [routerLink]="['/programacion']">Volver</a>
                    <a target="_blank" class="btn btn-light btn-xl m-2" href={{headerData.githuburl}}><img class="ghbtn" src="./assets/img/github.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</header>
