<app-header slug="sobre-mi"></app-header>


<section class="page-section" id="services">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">

                <p>Pues como ya saben, mi nombre es Andrés Mateo y soy programador y creador audiovisual ¿o es al revés? Estudié una Licenciatura en Cinematografía y Audiovisuales y luego un Máster en Dirección y Realización de Series de Ficción. He trabajado
                    muchos años en varias áreas del audiovisual, sobre todo como animador gráfico y en postproducción, pero desde hace un tiempo me he enamorado de la programación.</p>

                <p>En este momento curso un máster de programación y por mi cuenta me he especializado en JavaScript como Full Stack del stack MEAN. Continúo aprendiendo otros frameworks como React o Vue.js, además de leguajes como PHP, Java y en un futuro
                    muy próximo Python.
                </p>

                <p>Vivo en Madrid, España. Me encuentro trabajando en el desarrollo de la página web de la embajada de República Dominicana ante el Reino de España junto con un experimentado diseñador y desarrollador web. Mi función es el desarrollo del
                    backend y la integración de este con el front. Una experiencia maravillosa que estoy disfrutando un montón.</p>

                <p>Si te ha gustado lo que ves, puedes contactarme de la manera que prefieras. ¡Adelante, trabajemos juntos!</p>

            </div>
        </div>
    </div>
</section>


<section class="page-section bg-primary" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Puedes escribirme</h2>
                <hr class="divider light my-4">

                <a class="btn btn-light btn-xl js-scroll-trigger text-primary" [routerLink]="['/contacto']">CONTÁCTAME</a>
            </div>
        </div>
    </div>
</section>