<app-header slug="audiovisuales"></app-header>

<div *ngIf="data" class="bg-light">
  <div class="container">
    <div class="row bg-white p-4 pt-5" *ngFor="let item of data">
      <div class="col-lg-6">
        <img class="img-fluid mx-auto d-block rounded mb-4" [src]="imageUrl + item.img" alt="">
      </div>
      <div class="col-lg-6">
        <h2>{{ item.title }}</h2>
        <p>{{ item.body }}</p>
        <button class="btn btn-outline-primary mb-2" (click)="openModal(template, item.title, item.videoid, item.body)">Ver
          más</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->

<ng-template #template class="images-modal">
  <div class="modal-header images-modal bg-primary" *ngIf="videoSelTitle && videoId">
    <h5 class="modal-title pull-left text-white">{{videoSelTitle}}</h5>
    <button type="button" class="close pull-right text-white" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body images-modal">
    <iframe [src]="videoId | videoVimeo" width="100%" height="315" frameborder="0" allow="autoplay; fullscreen"
      allowfullscreen></iframe>
    <p>{{videoText}}</p>
  </div>
</ng-template>
