<app-header slug="audiovisuales"></app-header>






<div *ngIf="data" class="row">
    <div class="col-lg-12">




        <div class="card bg-dark text-white" *ngFor="let item of data">
            <img [src]="imageUrl + item.img" class="card-img" alt="...">
            <div class="card-img-overlay">
                <div class="imgbg p-2">
                    <h6 class="card-title">{{ item.title }}</h6>
                    <div class="card-text">
                        <p class="text-sm-left">{{item.body | slice:0:60}}...</p>
                    </div>
                    <button type="button" class="btn btn-outline-light btn-sm" (click)="openModal(template, item.title, item.videoid, item.body)">...ver más</button>
                </div>
            </div>
        </div>





    </div>
</div>



<!-- Modal -->

<ng-template #template class="images-modal">
    <div class="modal-header images-modal" *ngIf="videoSelTitle && videoId">
        <h5 class="modal-title pull-left text-white">{{videoSelTitle}}</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body images-modal">
        <iframe [src]="videoId | videoVimeo" width="100%" height="315" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        <p class="text-white">{{videoText}}</p>
    </div>
</ng-template>